@model DMSLite.Models.IndexViewModel

<div class="container body-content" id="pagebackground">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <br />
        <h4>Change Your Account Settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
        @if (this.User.IsInRole("SPS"))
        {
            <h4>SPS Administrative Tools</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Download log:</dt>
                <dd>
                    [
                    @Html.ActionLink("Download Log", "LogDownload", "Help")
                    ]
                </dd>
                <dt>Manage Organizations:</dt>
                <dd>
                    [
                    @Html.ActionLink("Manage Organizations", "Index", "Organizations")
                    ]
                </dd>
                <dt>Manage User Roles:</dt>
                <dd>
                    [
                    @Html.ActionLink("Manage User Roles", "Index", "Roles")
                    ]
                </dd>
            </dl>
        }

        @if (this.User.IsInRole("Admin"))
        {
            <h4>Organization Administrative Tools</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Register a New User:</dt>
                <dd>
                    [
                    @Html.ActionLink("Register a New User", "Register", "Account")
                    ]
                </dd>
                <dt>Import/Export CSV</dt>
                <dd>
                    [
                    @Html.ActionLink("Import/Export CSV", "Index", "CSV")
                    ]
                </dd>
            </dl>
        }

    </div>
</div>
