@model DMSLite.Models.SendCodeViewModel
@{
    ViewBag.Title = Resources.Resources.UI_Send;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>@Resources.Resources.UI_SendVerCode</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            @Resources.Resources.UI_Select2FAuthProvider
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value=@Resources.Resources.UI_Submit class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
