@model DMSLite.Entities.Donor

@{ var id = Guid.NewGuid().ToString(); }

<div id="@id">
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>
    </div>
    @using (Ajax.BeginForm("AddForm", "Donors", new AjaxOptions()
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = id
    }))
    {
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" id="createButton">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add Another Donor" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>