@model DMSLite.Entities.Donor

@{ var id = Guid.NewGuid().ToString(); }
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Added New Donor</h4>
</div>
<div class="modal-body">
    <div class="hidden close-modal">
        <div class="copy-to-chat">
            <div class="bubbleLine"><div class="robotlogo"><i class="fa fa-android" aria-hidden="true"></i></div><div class="bubble leftBubble">Created the following donor:</div></div>
            <div class="divTableWrapper">
                <div class="divTable">
                    <div class="tableRow header green">
                        <div class="cell">
                            Donor ID
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.LastName)
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.Address)
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.Type)
                        </div>
                        <div class="cell">
                            @Html.DisplayNameFor(model => model.ReceiptFrequency)
                        </div>
                        <div class="cell">
                            <!-- Left Empty for edit column -->
                        </div>
                    </div>
                    <div class="tableRow">
                        <div class="cell">
                            @Html.DisplayFor(model => model.Id)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.FirstName)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.LastName)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.Address)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.Type)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(model => model.ReceiptFrequency)
                        </div>
                        <div class="cell">
                            @{ var buttonId = Guid.NewGuid().ToString();
                                }
                            @Ajax.ActionLink("✏", "ModifyFromDonor", "Donors", Model, new AjaxOptions()
                            {
                               InsertionMode = InsertionMode.InsertAfter,
                               UpdateTargetId = "outputContainer",
                               OnComplete = "enableButtonAndCheckShowModal('" + buttonId + "')",
                               OnBegin = "return bounceInput('" + buttonId + "')"
                           }, new { @class = "glyphicon pencil" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="createButton">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
