@model DMSLite.Entities.Donor
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Donor Edited</h4>
</div>
<div class="modal-body">
    Donor @Model.FirstName successfully updated.
    <dl class="dl-horizontal">
        <dt>
            Donor ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="createButton">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>