@model DMSLite.Entities.Organization

@{
    ViewBag.Title = Resources.Resources.UI_Delete;
}

<h2>@Resources.Resources.UI_Delete</h2>

<h3>@Resources.Resources.UI_AreYouSureDelete</h3>
<div>
    <h4>@Resources.Resources.UI_Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resources.UI_Delete class="btn btn-default" /> |
            @Html.ActionLink(Resources.Resources.UI_BackToList, "Index")
        </div>
    }
</div>
