@model IEnumerable<DMSLite.Entities.Organization>

@{
    ViewBag.Title = Resources.Resources.UI_Index;
}

<h2>@Resources.Resources.UI_Index</h2>

<p>
    @Html.ActionLink(Resources.Resources.UI_CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DBA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumer)
        </td>
        <td>
            @Html.ActionLink(Resources.Resources.UI_Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Resources.Resources.UI_Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Resources.Resources.UI_Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
