@model DMSLite.Models.DonationFormViewModel

@{ var id = Guid.NewGuid().ToString(); }

<div id="@id">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Donation</h4>
    </div>
    @using (Ajax.BeginForm("Add", "Donation", new AjaxOptions()
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = id,
        OnComplete = "checkFormatSelect2"
    }))
    {

        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.donation.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.donation.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.donation.Value, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.donation.ObjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.donation.ObjectDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.donation.ObjectDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.donation.DonationDonor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.donation.DonationDonor, "", new { @class = "text-danger" })
                        <select class="format-select2" style="width:100%;" name="donationDonorId" data-select2-placeholder="Select a donor">
                            <option></option>
                            @foreach (var donor in Model.donors)
                            {
                                <option value="@donor.Id" @(Model != null && Model.donationDonorId == donor.Id ? "selected='selected'" : "")>@donor.FirstName @donor.LastName (ID: @donor.Id)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.donation.DonationBatch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.donation.DonationBatch, "", new { @class = "text-danger" })
                        <select class="format-select2" style="width:100%;" name="donationBatchId" data-select2-placeholder="Select a batch">
                            <option></option>
                            @foreach (var batch in Model.batches)
                            {
                                <option value="@batch.Id" @(Model != null && Model.donationBatchId == batch.Id ? "selected='selected'" : "")>@batch.Title (ID: @batch.Id)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.donation.DonationAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.donation.DonationAccount, "", new { @class = "text-danger" })
                        <select class="format-select2" style="width:100%;" name="donationAccountId" data-select2-placeholder="Select an account">
                            <option></option>
                            @foreach (var account in Model.accounts)
                            {
                                <option value="@account.Id" @(Model != null && Model.donationAccountId == account.Id ? "selected='selected'" : "")>@account.Title (ID: @account.Id)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" id="createButton">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>