@model DMSLite.Entities.Donation
<div class="modal-header">
    <button type="button" class="close" aria-label=@Resources.Resources.UI_Close data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@Resources.Resources.UI_DonationEditSuc</h4>
</div>
<div class="modal-body">
    @Resources.Resources.UI_DonationUpdateSuc
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonationBatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonationBatch.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonationDonor)
        </dt>
        <dd>
            @Model.DonationDonor.FirstName @Model.DonationDonor.LastName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObjectDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjectDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonationAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonationAccount.Title)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="createButton">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.UI_Ok</button>
        </div>
    </div>
</div>