@model DMSLite.Entities.Donation
@{ var id = Guid.NewGuid().ToString(); }
<div id="@id">
    @using (Ajax.BeginForm("Modify", "Donation", new AjaxOptions()
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = id,
        OnBegin = "showLoadingButton(\"" + id + "\")",
        OnComplete = "checkFormatSelect2Donor"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit a Donation</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <input type="hidden" value="@Model.Id" name="Id" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.DonationDonor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.DonationDonor_Id, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.DonationDonor)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ObjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ObjectDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ObjectDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DonationBatch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.DonationBatch_Id, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.DonationBatch)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DonationAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.DonationAccount_Id, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.DonationAccount)
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" id="saveButton">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary loading-button"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate loading-button-icon"></span>Save</button>
                </div>
            </div>
        </div>
    }
</div>