@model DMSLite.Entities.Batch
@{ var id = Guid.NewGuid().ToString(); }

<div id="@id" class="modal fade showModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Close A Batch</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CloseDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CloseDate)
                        </dd>
                    </dl>
                </div>
                @using (Ajax.BeginForm("PostBatch", "Batch", new AjaxOptions()
                {
                    InsertionMode = InsertionMode.InsertAfter,
                    UpdateTargetId = "outputContainer",
                    OnComplete = "closeModal('" + id + "')"
                }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" id="closeButton">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Close This Batch" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>