@model IEnumerable<DMSLite.Models.BatchViewModel>
<div class="divTableWrapper">
    <div class="divTable">
        <div class="tableRow header green">
            <div class="cell">
                Batch ID
            </div>
            <div class="cell">
                @Html.DisplayNameFor(model => model.batch.Title)
            </div>
            <div class="cell">
                @Html.DisplayNameFor(model => model.batch.CreateDate)
            </div>
            <div class="cell">
                @Html.DisplayNameFor(model => model.batch.CloseDate)
            </div>
            <div class="cell">
                Number of Donations
            </div>
            <div class="cell">
                Sum of Donations
            </div>
            <div class="cell">
                <!-- Left Empty for edit column -->
            </div>
            <div class="cell">
                <!-- Left Empty for post column -->
            </div>
            <div class="cell">
                <!-- Left Empty for add column -->
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="tableRow">
                <div class="cell">
                    @Html.DisplayFor(modelItem => item.batch.Id)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => item.batch.Title)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => item.batch.CreateDate)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => item.batch.CloseDate)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => item.count)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => item.sum)
                </div>
                <div class="cell">
                    @{ var buttonId = Guid.NewGuid().ToString(); }
                    @Ajax.ActionLink("", "FetchByBatchId", "Donation", item.batch, new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "outputContainer",
                        OnComplete = "enableButtonAndScroll('" + buttonId + "')",
                        OnBegin = "return bounceInput('" + buttonId + "')"
                    }, new { @class = "glyphicon search" })
                </div>
                <div class="cell">
                    <!--an add button that adds a donation to this batch-->
                    @if (item.batch.CloseDate == null)
                    {
                        @Ajax.ActionLink("+", "AddFromBatch", "Donation", item.batch, new AjaxOptions()
                        {
                           InsertionMode = InsertionMode.InsertAfter,
                           UpdateTargetId = "outputContainer",
                           OnComplete = "enableButtonAndCheckShowModal('" + buttonId + "')",
                           OnBegin = "return bounceInput('" + buttonId + "')"
                        }, new { @class = "glyphicon plus" })
                    }
                </div>
                <div class="cell">
                    @if (item.batch.CloseDate == null)
                    {
                       @Ajax.ActionLink("", "CloseBatchFromList", "Batch", item.batch, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.InsertAfter,
                           UpdateTargetId = "outputContainer",
                           OnComplete = "enableButtonAndCheckShowModal('" + buttonId + "')",
                           OnBegin = "return bounceInput('" + buttonId + "')"
                       }, new { @class = "glyphicon floppy" })
                    }
                    else
                    {
                        <div class="glyphicon lock">🔒</div>
                    }
                </div>
            </div>
        }
    </div>
</div>
